export(fars_map_state)
export(fars_read)
export(fars_read_years)
export(fars_summarize_years)
export(make_filename)

importFrom("magrittr",'%>%')
import(dplyr)
importFrom("readr", 'read_csv')
importFrom("tidyr", 'spread')
importFrom("maps", 'map')
importFrom("graphics", 'points')
